

      <!-- main area -->
      <div class="main-content checkbo" ng-controller="EMPController" style="margin-top: -75px;" ng-init="getAllDepartments(); getAllProjects(); getAllSkills();">
        <form id="commentForm" class="form-horizontal" role="form" style="background: #e0e8f2" ng-model="registrationForm">
          <div class="box-tab justified" id="rootwizard">
            <ul class="nav nav-tabs">
              <li ng-class="{'active' : activeTab==1}"><a href="" ng-click="setActiveTab(1)"><strong>Account details</strong></a>
              </li>
              <li ng-class="{'active' : activeTab==2}"><a href="" ng-click="setActiveTab(2)"><strong>Personal Info</strong></a>
              </li>
              <li ng-class="{'active' : activeTab==3}"><a href="" ng-click="setActiveTab(3)"><strong>Contact Info</strong></a>
              </li>
              <li ng-class="{'active' : activeTab==4}"><a href="" ng-click="setActiveTab(4)"><strong>Professional Info</strong></a>
              </li>
              <li ng-class="{'active' : activeTab==5}"><a href="" ng-click="setActiveTab(5)"><strong>Register</strong></a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="tab1" ng-class="{'tab-pane active': activeTab === 1, 'tab-pane' : activeTab !== 1}">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Email address</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="emailfield" ng-model="newEmail">
                  </div>
                  <label class="col-sm-2 control-label">User Type</label>
                  <div class="col-sm-4">
                    <div class="radio">
					  <label><input type="radio" name="newUserType" ng-model="newUserType" class="control-label" value="Admin">Admin</label>
					</div>
					<div class="radio">
					  <label><input type="radio" name="newUserType" ng-model="newUserType" class="control-label" value="Employee">Employee</label>
					</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Username</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="namefield" ng-model="newUsername">
                  </div>
                  
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="passwordfield" ng-model="newAccountPassword">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Confirm password</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="cpasswordfield" ng-model="newAccountRetypedPassword">
                  </div>
                </div>
                <div class="pull-right">
                  <button type="button" class="btn btn-primary button-next" ng-click="nextTab()">Next</button>
                </div>
              </div>
              <div id="tab2" ng-class="{'tab-pane active': activeTab === 2, 'tab-pane' : activeTab !== 2}">              
              	<div class="form-group">
                 <label class="col-sm-2 control-label">Full Name</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="name" ng-model="newName">
                  </div>
                  <label class="col-sm-2 control-label">Gender</label>
                  <div class="col-sm-4">
                    <div class="radio">
					  <label><input type="radio" name="newGender" ng-model="newGender" class="control-label" value="Male">Male</label>
					</div>
					<div class="radio">
					  <label><input type="radio" name="newGender" ng-model="newGender" class="control-label" value="Female">Female</label>
					</div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">Date of Birth</label>
                  <div class="col-sm-4">
                    <input type="date" name="dob" ng-model="newDob" style="width: 100%;">
                  </div>
                  <label class="col-sm-2 control-label">Marital Status</label>
                  <div class="col-sm-4">
                    <div class="radio">
					  <label><input type="radio" name="newMaritalStatus" ng-model="newMaritalStatus" class="control-label" value="Married">Married</label>
					</div>
					<div class="radio">
					  <label><input type="radio" name="newMaritalStatus" ng-model="newMaritalStatus" class="control-label" value="Unmarried">Unmarried</label>
					</div>
                  </div>                  
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">About</label>
                  <div class="col-sm-4">
                    <textarea class="form-control" rows="3" ng-model="newAbout"></textarea>
                  </div>
                  
                </div>
<!--                 <div class="form-group"> -->
<!--                   <label class="col-sm-2 control-label">Job description</label> -->
<!--                   <div class="col-sm-4"> -->
<!--                     <select class="form-control chosen" style="width: 100%;" id="description" name="description"> -->
<!--                       <option>Human resources</option> -->
<!--                       <option>Frontend developer</option> -->
<!--                       <option>Backend developer</option> -->
<!--                       <option>Network engineer</option> -->
<!--                     </select> -->
<!--                   </div> -->
<!--                 </div>                 -->
                <div class="pull-right">
                  <button type="button" class="btn btn-default button-previous" ng-click="previousTab()">Previous</button>
                  <button type="button" class="btn btn-primary button-next" ng-click="nextTab()">Next</button>
                </div>
              </div>
              <div id="tab3" ng-class="{'tab-pane active': activeTab === 3, 'tab-pane' : activeTab !== 3}">				
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">Country</label>
                  <div class='col-sm-4'>
				  	<select id="country" name ="country" ng-model="newCountry" class="form-control chosen" style="width: 100%;"></select>
				  </div>
				  
				  <label class="col-sm-2 control-label">Mobile</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" id="mobilefield" ng-model="newMobile">
                  </div>				  								    				    
                </div>
				
				<div class="form-group">
                  <label class="col-sm-2 control-label">State</label>
                  <div class='col-sm-4'>
				  	<select name ="state" id ="state" ng-model="newState" class="form-control chosen" style="width: 100%;"></select>
				  </div>				  								    				    
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">City</label>
                  <div class='col-sm-4'>
				  	<input type="text" class="form-control" id="newCity" ng-model="newCity">
				  </div>				  								    				    
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">Pincode</label>
                  <div class='col-sm-4'>
				  	<input type="number" class="form-control" id="newPinCode" ng-model="newPinCode">
				  </div>				  								    				    
                </div>
				
               <div class="pull-right">
                  <button type="button" class="btn btn-default button-previous" ng-click="previousTab()">Previous</button>
                  <button type="button" class="btn btn-primary button-next" ng-click="nextTab()">Next</button>
                </div>
              </div>
              <div id="tab4" ng-class="{'tab-pane active': activeTab === 4, 'tab-pane' : activeTab !== 4}">
              
                <div class="form-group">
                  <label class="col-sm-2 control-label">Designation</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control required" name="newDesignation" ng-model="newDesignation">
                  </div>                  
                  <label class="col-sm-2 control-label">Date of Joining</label>
                  <div class="col-sm-4">
                    <input type="date" name="newDoj" ng-model="newDoj" style="width: 100%;">
                  </div>
                  
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">Department</label>
                  <div class="col-sm-4">
                    <select name ="newDepartment" ng-model="newDepartment" class="form-control chosen" style="width: 100%;" >
                    	<option ng-repeat="department in departments">{{department.deptName}}</option>
                    </select>
                  </div>
                  <label class="col-sm-2 control-label">Basic Salary</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control required" name="newBasicSalary" ng-model="newBasicSalary">
                  </div>
                  
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">Project</label>
                  <div class="col-sm-4">
                    <select name ="newProject" ng-model="newProject" class="form-control chosen" style="width: 100%;">
                    <option ng-repeat="project in projects">{{project.projectName}}</option>
                    </select>
                  </div>
                  <label class="col-sm-2 control-label">HRA</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control required" name="newHra" ng-model="newHra">
                  </div>
                </div>
                
                <div class="form-group">
                
                  <label class="col-sm-2 control-label">Experience (in years)</label>
                  <div class="col-sm-4">
					 <input type="number" class="form-control required" ng-model="newExperience">
	              </div>
                
				  <label class="col-sm-2 control-label">LTA</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control required" name="newLta" ng-model="newLta">
                  </div>
                </div>
                
                <div class="form-group">
                
                <label class="col-sm-2 control-label">Skills</label>
                  <div class="col-sm-4">
                  	
					  <label class="checkbox-inline"  ng-repeat="talent in skills"><input type="checkbox" checklist-model="art.skill" checklist-value="talent.skillName">{{talent.skillName}}</label>
					  
	              </div>
                
                	 
                 </div>
                
                <div class="pull-right">
                  <button type="button" class="btn btn-default button-previous" ng-click="previousTab()">Previous</button>
                  <button type="button" class="btn btn-primary button-next" ng-click="nextTab()">Next</button>
                </div>
              </div>
              <div id="tab5" ng-class="{'tab-pane active': activeTab === 5, 'tab-pane' : activeTab !== 5}">Are you sure to add this Employee...?
                <div class="pull-right">
                  <button type="button" class="btn btn-default button-previous" ng-click="previousTab()">Previous</button>
                  <button type="button" class="btn btn-primary button-next" ng-click="addEmployee()">Add Employee</button>
                </div>
              </div>
              <div class="wizard-pager">

              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- /main area -->
    
<script language="javascript">
	populateCountries("country", "state"); // first parameter is id of country drop-down and second parameter is id of state drop-down
</script>    