
<div class="app layout-fixed-header bg-white usersession" ng-controller="EMPController">
	<div class="full-height">
		<div class="center-wrapper">
			<div class="center-content">
				<div class="row no-margin">
					<div
						class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4"
						style="margin-left: 25%">

						<form role="form" class="form-layout" method="post">
							<div class="text-center mb15">
								
							</div>
							<p class="text-center mb30">Please enter your old password and your new password</p>
							<div class="form-inputs">
								<input type="password" class="form-control input-lg" placeholder="Old Password" ng-model="oldPassword" required autofocus>
								<input type="password" class="form-control input-lg" placeholder="New Password" ng-model="newPassword" required>
								<input type="password" class="form-control input-lg" placeholder="Retype Password" ng-model="retypedPassword" required>
								<span ng-show="newPassword !== retypedPassword" style="color:red">Password mismatch</span>
							</div>
							<button class="btn btn-success btn-block btn-lg mb15" type="submit" ng-click="changePassword()">
								<span>Change Password</span>
							</button>							
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>