

      <!-- main area -->
      <div class="main-content checkbo" ng-controller="EMPController" style="margin-top: -75px;" ng-init="getAllDepartments(); getAllProjects(); getAllSkills(); viewProfileTOUpdate()">
        <div align="center"><h2>Edit Profile</h2></div>
        <form id="commentForm" name="addEmpForm" class="form-horizontal" role="form" style="background: #e0e8f2" ng-model="registrationForm">
          <div class="box-tab justified" id="rootwizard">
            <ul class="nav nav-tabs">
              <li ng-class="{'active' : activeTab==1}"><a href="" ng-click="setActiveTab(1)"><strong>Account details</strong></a>
              </li>
              <li ng-class="{'active' : activeTab==2}"><a href="" ng-click="setActiveTab(2)"><strong>Personal Info</strong></a>
              </li>
              <li ng-class="{'active' : activeTab==3}"><a href="" ng-click="setActiveTab(3)"><strong>Contact Info</strong></a>
              </li>
              <li ng-class="{'active' : activeTab==4}"><a href="" ng-click="setActiveTab(4)"><strong>Professional Info</strong></a>
              </li>
              <li ng-class="{'active' : activeTab==5}"><a href="" ng-click="setActiveTab(5)"><strong>Update</strong></a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="tab1" ng-class="{'tab-pane active': activeTab === 1, 'tab-pane' : activeTab !== 1}">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Email address</label>
                  <div class="col-sm-4">
                    <input type="email" disabled  class="form-control" id="emailfield" ng-model="email" ng-value="email">
                  </div>
                  <label class="col-sm-2 control-label">User Type</label>
                  
                  
                  <div class="col-sm-4" ng-if="usertype=='Admin'">
                    <div class="radio">
					  <label><input type="radio" disabled style="cursor: not-allowed;" name="newUserType" class="control-label" ng-checked="true"><span style="cursor: not-allowed;" >Admin</span></label>
					</div>
					<div class="radio">
					  <label><input type="radio" disabled name="newUserType" class="control-label"><span style="cursor: not-allowed;">Employee</span></label>
					</div>
                  </div>
                  
                  <div class="col-sm-4" ng-if="usertype=='Employee'">
                    <div class="radio">
					  <label><input type="radio" disabled style="cursor: not-allowed;" name="newUserType" ng-model="usertype"  class="control-label"><span style="cursor: not-allowed;">Admin</span></label>
					</div>
					<div class="radio">
					  <label><input type="radio" disabled name="newUserType" ng-model="usertype" class="control-label" ng-checked="true"><span style="cursor: not-allowed;" >Employee</span></label>
					</div>
                  </div>
                  
                  
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Username</label>
                  <div class="col-sm-4">
                    <input type="text" disabled class="form-control" id="namefield" ng-model="username" ng-value="username">
                  </div>
                  
                </div>                
                <div class="pull-right">
                  <button type="button" class="btn btn-primary button-next" ng-click="nextTab()">Next</button>
                </div>
              </div>
              <div id="tab2" ng-class="{'tab-pane active': activeTab === 2, 'tab-pane' : activeTab !== 2}">              
              	<div class="form-group">
                 <label class="col-sm-2 control-label">Full Name</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="name" ng-model="name" ng-value="name" name="name" ng-minlength="5" ng-maxlength="20" required>
                    <div ng-messages="addEmpForm.name.$error" ng-if="addEmpForm.name.$dirty || addEmpForm.name.$touched">
						  <div class="validate" ng-message="required">This field is required</div>
						  <div class="validate" ng-message="minlength">Must be grater than 5 characters</div>
						  <div class="validate" ng-message="maxlength">Must be less than 10 characters</div>
					</div>
                  </div>
                  <label class="col-sm-2 control-label">Gender</label>
                  
                  
                  <div class="col-sm-4" ng-if="gender== 'Male' ">
                    <div class="radio">
					  <label><input type="radio" disabled name="newGender" class="control-label" ng-checked="true"><span style="cursor: not-allowed;">Male</span></label>
					</div>
					<div class="radio">
					  <label><input type="radio" disabled name="newGender" class="control-label"><span style="cursor: not-allowed;">Female</span></label>
					</div>
                  </div>
                  
                  <div class="col-sm-4" ng-if="gender== 'Female' ">
                    <div class="radio">
					  <label><input type="radio" disabled name="newGender" class="control-label"><span style="cursor: not-allowed;">Male</span></label>
					</div>
					<div class="radio">
					  <label><input type="radio" disabled name="newGender" class="control-label" ng-checked="true"><span style="cursor: not-allowed;">Female</span></label>
					</div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2  control-label">Date of Birth</label>
                  <div class="col-sm-4">
                    <input type="date" disabled style="cursor: not-allowed;" name="dob" ng-model="dob" ng-value="dob" style="width: 100%;" format-date>
                  </div>
                  <label class="col-sm-2 control-label">Marital Status</label>
                  
                  
                  <div class="col-sm-4" ng-if="maritalStatus == 'Married' ">
                    <div class="radio">
					  <label><input type="radio" name="newMaritalStatus" class="control-label" ng-checked="true">Married</label>
					</div>
					<div class="radio">
					  <label><input type="radio" name="newMaritalStatus" ng-model="maritalStatus" value="Unmarried" class="control-label">Unmarried</label>
					</div>
                  </div> 
                  
                  <div class="col-sm-4" ng-if="maritalStatus == 'Unmarried' ">
                    <div class="radio">
					  <label><input type="radio" name="newMaritalStatus" class="control-label">Married</label>
					</div>
					<div class="radio">
					  <label><input type="radio" name="newMaritalStatus" class="control-label" ng-checked="true">Unmarried</label>
					</div>
                  </div>                  
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">About</label>
                  <div class="col-sm-4">
                    <textarea class="form-control" rows="3" ng-model="about" name="about" ng-minlength="10" ng-maxlength="100" required></textarea>
                    <div ng-messages="addEmpForm.about.$error" ng-if="addEmpForm.about.$dirty || addEmpForm.about.$touched">
						  <div class="validate" ng-message="required">This field is required</div>
						  <div class="validate" ng-message="minlength">Must be grater than 10 characters</div>
						  <div class="validate" ng-message="maxlength">Must be less than 100 characters</div>
					</div>
                  </div>
                  
                </div>
                <div class="pull-right" style="cursor: not-allowed">
                  <button type="button" class="btn btn-default button-previous" ng-click="previousTab()">Previous</button>
                  <button ng-disabled= "addEmpForm.name.$invalid || addEmpForm.about.$invalid" type="button" class="btn btn-primary button-next" ng-click="nextTab()" >Next</button>
                </div>
              </div>
              <div id="tab3" ng-class="{'tab-pane active': activeTab === 3, 'tab-pane' : activeTab !== 3}">				
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">Country</label>
                  <div class='col-sm-4'>
						<input type="text" name="country" class="form-control" ng-model="address.country" value="address.country" name="country" required>
						<div ng-messages="addEmpForm.country.$error" ng-if="addEmpForm.country.$dirty || addEmpForm.country.$touched">
							  <div class="validate" ng-message="required">This field is required</div>
						</div>
				  </div>
				  
				  <label class="col-sm-2 control-label">Mobile</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" id="mobilefield" ng-model="contact" name="contact" ng-minlength="10" ng-maxlength="10" required>
                    <div ng-messages="addEmpForm.contact.$error" ng-if="addEmpForm.contact.$dirty || addEmpForm.contact.$touched">
						  <div class="validate" ng-message="required">This field is required</div>
						  <div class="validate" ng-message="minlength">Must be 10 digit</div>
						  <div class="validate" ng-message="maxlength">Must be 10 digit</div>
		            </div>
                  </div>				  								    				    
                </div>
				
				<div class="form-group">
                  <label class="col-sm-2 control-label">State</label>
                  <div class='col-sm-4'>
						<input type="text" name="state" class="form-control" ng-model="address.state" value="address.state" name="state" required>
						<div ng-messages="addEmpForm.state.$error" ng-if="addEmpForm.state.$dirty || addEmpForm.state.$touched">
							  <div class="validate" ng-message="required">This field is required</div>
						</div>
				  </div>				  								    				    
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">City</label>
                  <div class='col-sm-4'>
				  	<input type="text" class="form-control" id="newCity" ng-model="address.city" ng-value="address.city" name="city" required>
				  	<div ng-messages="addEmpForm.city.$error" ng-if="addEmpForm.city.$dirty || addEmpForm.city.$touched">
							  <div class="validate" ng-message="required">This field is required</div>
					</div>
				  </div>				  								    				    
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">Pincode</label>
                  <div class='col-sm-4'>
				  	<input type="number" class="form-control" id="newPinCode" ng-model="address.zip" ng-value="address.zip" name="zip" ng-minlength="6" ng-maxlength="6" required>
				  	<div ng-messages="addEmpForm.zip.$error" ng-if="addEmpForm.zip.$dirty || addEmpForm.zip.$touched">
							  <div class="validate" ng-message="required">This field is required</div>
							  <div class="validate" ng-message="minlength">Must be 6 digit</div>
						      <div class="validate" ng-message="maxlength">Must be 6 digit</div>
					</div>
				  </div>				  								    				    
                </div>
				
               <div class="pull-right" style="cursor: not-allowed">
                  <button type="button" class="btn btn-default button-previous" ng-click="previousTab()">Previous</button>
                  <button ng-disabled= "addEmpForm.country.$invalid || addEmpForm.state.$invalid || addEmpForm.city.$invalid || addEmpForm.zip.$invalid || addEmpForm.contact.$invalid" type="button" class="btn btn-primary button-next" ng-click="nextTab()">Next</button>
                </div>
              </div>
              <div id="tab4" ng-class="{'tab-pane active': activeTab === 4, 'tab-pane' : activeTab !== 4}">
              
                <div class="form-group">
                  <label class="col-sm-2 control-label">Designation</label>
                  <div class="col-sm-4">
                    <input type="text" disabled class="form-control required" name="newDesignation" ng-model="designation" ng-value="designation">
                  </div>                  
                  <label class="col-sm-2 control-label">Date of Joining</label>
                  <div class="col-sm-4">
                    <input disabled style="cursor: not-allowed;" type="date" name="doj" ng-model="doj" style="width: 100%;" ng-value="doj" format-date>
                  </div>
                  
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">Department</label>
                  <div class="col-sm-4">
                    <select name ="newDepartment" disabled ng-model="department.departmentName" ng-value="department.departmentName" class="form-control chosen" style="width: 100%;" >
                    	<option ng-repeat="department in departments">{{department.departmentName}}</option>
                    </select>
                  </div>
                  <label class="col-sm-2 control-label">Basic Salary</label>
                  <div class="col-sm-4">
                    <input type="number" disabled class="form-control required" name="newBasicSalary" ng-model="salary.basic" ng-value="salary.basic">
                  </div>
                  
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">Project</label>
                  <div class="col-sm-4">
                    <select name ="newProject" disabled ng-model="project.projectName" ng-value="project.projectName" class="form-control chosen" style="width: 100%;">
                    <option ng-repeat="project in projects">{{project.projectName}}</option>
                    </select>
                  </div>
                  <label class="col-sm-2 control-label">HRA</label>
                  <div class="col-sm-4">
                    <input type="number" disabled class="form-control required" name="newHra" ng-model="salary.hra" ng-value="salary.hra">
                  </div>
                </div>
                
                <div class="form-group">
                
                  <label class="col-sm-2 control-label">Experience (in years)</label>
                  <div class="col-sm-4">
					 <input type="number" class="form-control required" ng-model="experience" ng-value="experience" name="experience" required>
					 <div ng-messages="addEmpForm.experience.$error" ng-if="addEmpForm.experience.$dirty || addEmpForm.experience.$touched">
							<div class="validate" ng-message="required">This field is required</div>
						</div>
	              </div>
                
				  <label class="col-sm-2 control-label">LTA</label>
                  <div class="col-sm-4">
                    <input type="number" disabled class="form-control required" name="newLta" ng-model="salary.lta" ng-value="salary.lta">
                  </div>
                </div>
                
                <div class="form-group">                                
  
                <label class="col-sm-2 control-label">Skills</label>
                  <div class="col-sm-4">                  	
					  <label class="checkbox-inline"  ng-repeat="talent in skills"><input type="checkbox" checklist-model="art.skill" checklist-value="talent.skillName">{{talent.skillName}}</label>
					  
<!-- 					  <label class="checkbox-inline"  ng-repeat="talent in skills"><input type="checkbox" checklist-model="art.skill" checklist-value="talent.skillName">{{talent.skillName}}</label>					   -->
	              </div>
                
                	 
                 </div>
                
                <div class="pull-right" style="cursor: not-allowed">
                  <button type="button" class="btn btn-default button-previous" ng-click="previousTab()">Previous</button>
                  <button ng-disabled="addEmpForm.experience.$invalid" type="button" class="btn btn-primary button-next" ng-click="nextTab()">Next</button>
                </div>
              </div>
              <div id="tab5" ng-class="{'tab-pane active': activeTab === 5, 'tab-pane' : activeTab !== 5}">Are you sure to update the profile...?
                <div class="pull-right" style="cursor: not-allowed">
                  <button type="button" class="btn btn-default button-previous" ng-click="previousTab()">Previous</button>
                  <button ng-disabled="addEmpForm.$invalid" type="button" class="btn btn-primary button-next" ng-click="updateEmployee()">Update Profile</button>
                </div>
              </div>
              <div class="wizard-pager">

              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- /main area -->
    
[]   