 <div class="app layout-fixed-header usersession bg-white" ng-controller="EMPController">
    <div class="full-height">
      <div class="center-wrapper">
        <div class="center-content">
          <div class="row no-margin">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="margin-left: 25%">
              <form role="form" class="form-layout" name="forgotPasswordForm">
                <div class="text-center mb15">
                  <img src="resources/images/xoriant.png" />
                </div>
                <p class="text-center mb25">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>
                <div class="form-inputs">
                  <input type="email" class="form-control input-lg" ng-model="email" placeholder="Email address" name="email" required autofocus>
                  <div  ng-messages="forgotPasswordForm.email.$error" ng-if="forgotPasswordForm.email.$dirty || forgotPasswordForm.email.$touched">
					  <div class="validate" ng-message="required">This field is required</div>
					  <div class="validate" ng-message="email">Your email address is invalid</div>
					</div>
                </div>
				<div style="cursor: not-allowed">
                	<button ng-disabled="forgotPasswordForm.$invalid" class="btn btn-success btn-lg btn-block" type="submit" ng-click="forgotPassword()">Send Password Reset</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>

