 <div class="app layout-fixed-header usersession bg-white" ng-controller="EMPController">
    <div class="full-height">
      <div class="center-wrapper">
        <div class="center-content">
          <div class="row no-margin">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="margin-left: 25%">
              <form role="form" class="form-layout">
                <div class="text-center mb15">
                  <img src="resources/images/xoriant.png" />
                </div>
                <p class="text-center mb25">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>
                <div class="form-inputs">
                  <input type="email" class="form-control input-lg" ng-model="email" placeholder="Email address" autofocus>
                </div>

                <button class="btn btn-success btn-lg btn-block" type="submit" ng-click="forgotPassword()">Send Password Reset</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>

