        <div class="row">
        
        <!-- Contact Information -->
          <div class="col-sm-3">
            <div class="profile-sidebar">
              <div class="profile-sidebar-item profile-avatar">
                <img src="resources/images/avatar.jpg" alt="" class="img-rounded">
              </div>
              <div class="profile-sidebar-item profile-info">
                <span class="h5 bold" style="font-size:24px">{{checkForName()}}</span>
                <p>{{role}}</p>                
                <div class="w150 center-block mt10">                  
                    <span class="bold">X448{{empId}}</span>
                </div>
              </div>

              <hr>

				<ul class="profile-sidebar-item profile-numbers-count">
                <li>
                  <span class="bold">{{gender}}</span>Gender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       
                </li>
                <li>
                  <span class="bold" style="text-transform: capitalize;">{{maritalStatus}}</span> Marital Status
                </li>
              </ul>              

              <hr>
              
              <ul class="profile-sidebar-item profile-numbers-count">
                <li>
                  <span class="bold">{{dob}}</span> Date of Birth
                </li>
                <li>
                  <span class="bold">{{doj}}</span> Date of Joining
                </li>
              </ul>
              
              <hr>

              <div class="profile-sidebar-item profile-bio">
                <small class="bold text-uppercase"><strong>About</strong></small>
                <p>{{about}}</p>
              </div>

              <hr>

              <div class="profile-sidebar-item profile-reccomendations">
                <small class="bold text-uppercase"></small>
               
              </div>
            </div>

          </div>
          
          
          <!--  Personal Information -->
          <div class="col-sm-6">
            <div class="profile-sidebar">
              <div class="profile-sidebar-item profile-avatar">
                <img src="images/man.png" alt="" class="img-rounded">
              </div>
              <div class="profile-sidebar-item profile-info">
                <span class="h5 bold">Samuel Perkins</span>
                <p>Web Developer</p>
                <div class="w150 center-block mt10">
                  <button class="btn btn-danger btn-block">
                    <span>Send a message</span>
                  </button>
                </div>
              </div>

              <hr>

              <ul class="profile-sidebar-item profile-numbers-count">
                <li>
                  <span class="bold">9854</span> followers
                </li>
                <li>
                  <span class="bold">7964</span> following
                </li>
              </ul>

              <hr>

              <div class="profile-sidebar-item profile-bio">
                <small class="bold text-uppercase">About</small>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>
              </div>

              <hr>

              <div class="profile-sidebar-item profile-reccomendations">
                <small class="bold text-uppercase">Reccomendations</small>
                <ul class="user-meta">
                  <li>
                    <a href="javascript:;">All stream</a>
                  </li>
                  <li>
                    <a href="javascript:;">Connected Apps</a>
                  </li>
                  <li>
                    <a href="javascript:;">Photos</a>
                  </li>
                  <li>
                    <a href="javascript:;">Most recent</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          
          <!-- Occupational Information -->
          <div class="col-sm-3">
            <div class="profile-sidebar">
              <div class="profile-sidebar-item profile-avatar">
                <img src="images/man.png" alt="" class="img-rounded">
              </div>
              <div class="profile-sidebar-item profile-info">
                <span class="h5 bold">Samuel Perkins</span>
                <p>Web Developer</p>
                <div class="w150 center-block mt10">
                  <button class="btn btn-danger btn-block">
                    <span>Send a message</span>
                  </button>
                </div>
              </div>

              <hr>

              <ul class="profile-sidebar-item profile-numbers-count">
                <li>
                  <span class="bold">9854</span> followers
                </li>
                <li>
                  <span class="bold">7964</span> following
                </li>
              </ul>

              <hr>

              <div class="profile-sidebar-item profile-bio">
                <small class="bold text-uppercase">About</small>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>
              </div>

              <hr>

              <div class="profile-sidebar-item profile-reccomendations">
                <small class="bold text-uppercase">Reccomendations</small>
                <ul class="user-meta">
                  <li>
                    <a href="javascript:;">All stream</a>
                  </li>
                  <li>
                    <a href="javascript:;">Connected Apps</a>
                  </li>
                  <li>
                    <a href="javascript:;">Photos</a>
                  </li>
                  <li>
                    <a href="javascript:;">Most recent</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>