<div class="main-content">
        <div class="panel">
          <div class="panel-heading border">
            <ol class="breadcrumb mb0 no-padding">
              <li>
                <a href="javascript:;">Home</a>
              </li>
              <li>
                <a href="javascript:;">Tables</a>
              </li>
              <li class="active">Data tables</li>
            </ol>
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start Date</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Airi Satou</td>
                  <td>Accountant</td>
                  <td>Tokyo</td>
                  <td>5407</td>
                  <td>2008/11/28</td>
                  <td><a href="javascript:;" class="edit">Edit</a>
                  </td>
                  <td><a href="javascript:;" class="delete">Delete</a>
                  </td>
                </tr>
                <tr>
                  <td>Angelica Ramos</td>
                  <td>Chief Executive Officer (CEO)</td>
                  <td>London</td>
                  <td>5797</td>
                  <td>2009/10/09</td>
                  <td><a href="javascript:;" class="edit">Edit</a>
                  </td>
                  <td><a href="javascript:;" class="delete">Delete</a>
                  </td>
                </tr>
                <tr>
                  <td>Ashton Cox</td>
                  <td>Junior Technical Author</td>
                  <td>San Francisco</td>
                  <td>1562</td>
                  <td>2009/01/12</td>
                  <td><a href="javascript:;" class="edit">Edit</a>
                  </td>
                  <td><a href="javascript:;" class="delete">Delete</a>
                  </td>
                </tr>
                <tr>
                  <td>Bradley Greer</td>
                  <td>Software Engineer</td>
                  <td>London</td>
                  <td>2558</td>
                  <td>2012/10/13</td>
                  <td><a href="javascript:;" class="edit">Edit</a>
                  </td>
                  <td><a href="javascript:;" class="delete">Delete</a>
                  </td>
                </tr>
                <tr>
                  <td>Brenden Wagner</td>
                  <td>Software Engineer</td>
                  <td>San Francisco</td>
                  <td>1314</td>
                  <td>2011/06/07</td>
                  <td><a href="javascript:;" class="edit">Edit</a>
                  </td>
                  <td><a href="javascript:;" class="delete">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>