
      <!-- main area -->
      <div  ng-controller="EMPController" ng-init="showAllProjects()">
        <div class="panel">
          <div class="panel-heading border">
            <div align="center"><h2>List of Projects</h2></div>
          </div>
          <div class="panel-body">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline no-footer">
               <div class="row">
					<div class="col-sm-6">
						
						<div class="toolbar"></div>
					</div>
					<div class="col-sm-6">
						<div id="DataTables_Table_0_filter" class="dataTables_filter">
							<label><input type="search" class="form-control" ng-model="search" placeholder="Search" aria-controls="DataTables_Table_0"></label>
						</div>
					</div>
				</div>
		       <div class="table-responsive">
		            <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
		              <thead>
		                <tr role="row">
		                  <th class="sorting" ng-click="sort('emp_id')">Projects Id
		                  	<span class="glyphicon sort-icon" ng-show="sortKey=='emp_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
		                  </th>
		                  <th class="sorting" ng-click="sort('emp_name')">Name
		                  	<span class="glyphicon sort-icon" ng-show="sortKey=='emp_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
		                  </th>
		                  <th class="sorting" ng-click="sort('emp_email')">Budget
		                  	<span class="glyphicon sort-icon" ng-show="sortKey=='emp_email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
		                  </th>
		                  <th class="sorting" ng-click="sort('emp_desgination')">Start Date
		                  	<span class="glyphicon sort-icon" ng-show="sortKey=='emp_desgination'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
		                  </th>
		                  <th class="sorting" ng-click="sort('emp_project_name')">End Date
		                  <th class="sorting">Delete</th>
		                </tr>
		              </thead>
		              <tbody>
		                <tr dir-paginate="project in projectList|orderBy:sortKey:reverse|filter:search|itemsPerPage:5" role="row">
		                  <td>{{project.projectId}}</td>
		                  <td>{{project.projectName}}</td>
		                  <td>{{project.budget}}</td>
		                  <td>{{project.startDate}}</td>
		                  <td>{{project.endDate}}</td>

		                  <td><button type="button" class="btn btn-danger button-next" data-toggle="modal" data-target="#myModal123" ng-click="geProjectId(project.projectId)"><span class="glyphicon glyphicon-trash"></span>  Delete</button>
		                  </td>
		                </tr>                
		              </tbody>
		            </table>
		        </div>
		         	<div class="datatable-bottom">					
						<div class="pull-right">
							<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ></dir-pagination-controls>
						</div>
					</div>   
		      </div>      
          </div>
        </div>
      <!-- /main area -->
      
      <!-- Modal -->
  <div class="modal fade" id="myModal123" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">DELETE</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete ??</p>
         </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="deleteProject(delProjectId)" data-dismiss="modal">Delete</button>
<!--           <a class=" to-buy" ng-click="deleteEmployee(delId)"  style="cursor : pointer; text-decoration: none;" data-dismiss="modal">Delete User</a> -->
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  <!-- /Modal -->
