
      <!-- main area -->
      <div  ng-controller="EMPController" ng-init="showAllProjects()">
        <div class="panel">
          <div class="panel-heading border">
            <div align="center"><h2>List of Projects</h2></div>
          </div>
          <div class="panel-body">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline no-footer">
            	<div class="row" >
            		<form class="form-inline" role="form" name="addProjectForm">
					<div class="form-group">
						<label class="col-md-2 control-label" style="width: 100px">Project Name</label>
						<br>
						<div class="col-md-4">
							<input type="text" class="form-control" name="newProjectName" ng-model="newProjectName" required />
							<div ng-messages="addProjectForm.newProjectName.$error" ng-if="addProjectForm.newProjectName.$dirty || addProjectForm.newProjectName.$touched">
							  <div class="validate" ng-message="required" style="width: 130px">This field is required</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">Budget</label>
						<br>
						<div class="col-md-4">
							<input type="number" class="form-control" name="newBudget" ng-model="newBudget" required/>
							<div ng-messages="addProjectForm.newBudget.$error" ng-if="addProjectForm.newBudget.$dirty || addProjectForm.newBudget.$touched">
							  <div class="validate" ng-message="required" style="width: 130px">This field is required</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" style="width: 100px">Start Date</label>
						<br>
						<div class="col-md-4">
							<input type="date" class="form-control" name="newStartDate" ng-model="newStartDate" required/>
							<div ng-messages="addProjectForm.newStartDate.$error" ng-if="addProjectForm.newStartDate.$dirty || addProjectForm.newStartDate.$touched">
							  <div class="validate" ng-message="required" style="width: 130px">This field is required</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" style="width: 100px">End Date</label>
						<br>
						<div class="col-md-4">
							<input type="date" class="form-control" name="newEndDate" ng-model="newEndDate" required/>
							<div ng-messages="addProjectForm.newEndDate.$error" ng-if="addProjectForm.newEndDate.$dirty || addProjectForm.newEndDate.$touched">
							  <div class="validate" ng-message="required" style="width: 130px">This field is required</div>
							</div>
						</div>
					</div>
					<div class="form-group" style="cursor: not-allowed;"> 								
						<div style="padding-left:110px">
							<input ng-disabled= "addProjectForm.$invalid" type="button" value="Add Project" class="btn btn-primary" ng-click="addProject()"/>
						</div>
					</div>
				</form>
            	</div>
            	<hr>
               <div class="row">
					<div class="col-sm-6">
						
						<div class="toolbar">
													
						</div>
					</div>
					<div class="col-sm-6">
						<div id="DataTables_Table_0_filter" class="dataTables_filter">
							<label><input type="search" class="form-control" ng-model="search" placeholder="Search" aria-controls="DataTables_Table_0"></label>
						</div>
					</div>
				</div>
		       <div class="table-responsive">
		            <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
		              <thead>
		                <tr role="row">
		                  <th class="sorting" ng-click="sort('emp_id')">Projects Id
		                  	<span class="glyphicon sort-icon" ng-show="sortKey=='emp_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
		                  </th>
		                  <th class="sorting" ng-click="sort('emp_name')">Name
		                  	<span class="glyphicon sort-icon" ng-show="sortKey=='emp_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
		                  </th>
		                  <th class="sorting" ng-click="sort('emp_email')">Budget
		                  	<span class="glyphicon sort-icon" ng-show="sortKey=='emp_email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
		                  </th>
		                  <th class="sorting" ng-click="sort('emp_desgination')">Start Date
		                  	<span class="glyphicon sort-icon" ng-show="sortKey=='emp_desgination'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
		                  </th>
		                  <th class="sorting" ng-click="sort('emp_project_name')">End Date
		                  <th class="sorting">Delete</th>
		                </tr>
		              </thead>
		              <tbody>
		                <tr dir-paginate="project in projectList|orderBy:sortKey:reverse|filter:search|itemsPerPage:3" role="row">
		                  <td>{{project.projectId}}</td>
		                  <td>{{project.projectName}}</td>
		                  <td>{{project.budget}}</td>
		                  <td>{{project.startDate}}</td>
		                  <td>{{project.endDate}}</td>

		                  <td><button type="button" class="btn btn-danger button-next" data-toggle="modal" data-target="#myModal123" ng-click="geProjectId(project.projectId)"><span class="glyphicon glyphicon-trash"></span>  Delete</button>
		                  </td>
		                </tr>                
		              </tbody>
		            </table>
		        </div>
		         	<div class="datatable-bottom">					
						<div class="pull-right">
							<dir-pagination-controls max-size="3" direction-links="true" boundary-links="true" ></dir-pagination-controls>
						</div>
					</div>   
		      </div>      
          </div>
        </div>
      <!-- /main area -->
      
      <!-- Modal -->
  <div class="modal fade" id="myModal123" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">DELETE</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete ??</p>
         </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="deleteProject(delProjectId)" data-dismiss="modal">Delete</button>
<!--           <a class=" to-buy" ng-click="deleteEmployee(delId)"  style="cursor : pointer; text-decoration: none;" data-dismiss="modal">Delete User</a> -->
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  <!-- /Modal -->
